# do not lint/format generated artifacts
dist/
build/
test/unit/build/
test/functional/results/
stats.json
yarn-error.log
*.map
package-lock.json
src/wasm/bergamot-translator-worker.data
src/wasm/bergamot-translator-worker.js
src/wasm/bergamot-translator-worker.wasm
src/wasm/cld-worker.*
# currently not maintaining these source files
ts/extension-ui/main-interface.js/components/
# makes sure that eslintrc.js gets linted/formatted
!.eslintrc.js
# don't lint/format package.json since npm install formats it differently by default
package.json
# don't lint/format fixtures
test/fixtures/
# don't lint/format third party modules
bergamot-translator/
emsdk/
node_modules/
src/test-runner/inc/
firefox-nightly-linux
downloaded-bergamot-translator-wasm-artifacts/
# don't lint ci configuration
.circleci/
taskcluster/
