.idea
.vscode
*.pyc
dist/
build/
test/build/
test/results/coverage/
stats.json
yarn-error.log
*.map
node_modules/
.env*
!.env.example
src/core/static/wasm/bergamot-translator-worker.js
src/core/static/wasm/bergamot-translator-worker.wasm
firefox-nightly-linux
downloaded-bergamot-translator-wasm-artifacts*
test/fixtures/models/*
!test/fixtures/models/dummy
