.idea
.vscode
*.pyc
dist/
build/
debug/
test/e2e/results/
stats.json
yarn-error.log
*.map
node_modules/
.env*
!/.env.example
src/*/.env.example
firefox-nightly-linux
downloaded-bergamot-translator-wasm-artifacts*
test/locally-hosted-files/wasm/bergamot-translator-worker.wasm.gz
test/locally-hosted-files/models/*
!test/locally-hosted-files/models/dummy
