.QualityEstimationContainer {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;

    &__underline {
        width: 100%;
        height: 100%;
        position: relative;

        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
        }
    }
}