.List {
    border: 1px solid $color-neutral-6;
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
    height: fit-content;
    color: $color-neutral-9;

    & a, a:visited, a:active, a:link {
        text-decoration: none;
        color: $color-neutral-9;
    }

    &.borderless {
        border: none;
    }

    &__header {
        padding: 12px 12px;
        background: $color-neutral-5;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            height: 1px;
            background: $color-neutral-6;
            bottom: 0;
            width: 100%;
            left: 0;
        }
    }

    &Item {
        padding: 16px 16px;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        transition: all .2s;

        &::after {
            content: "";
            position: absolute;
            height: 1px;
            // background: $color-neutral-;
            bottom: 0;
            width: 100%;
            left: 0;
        }

        &:hover {
            background: $color-neutral-2;
        }

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 8px;
            color: $color-neutral-9;
        }

        &__action {
            position: absolute;
            right: 8px;
        }
    }
}