.Switch {
    position: relative;
    background: lightgray;
    border: 1px solid transparent;
    border-radius: 200px;
    width: 44px;
    height: 24px;
    display: flex;
    transition: all .2s;
    cursor: pointer;
    outline: none;

    &:hover {
        box-shadow: 0 0 0 2px $color-neutral-3;
    }
    
    &__slider {
        position: absolute;
        top: 50%;
        left: 4px;
        transform: translateY(-50%);
        background: white;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        transition: all .2s;
        transition-property: left, right, width, box-shadow;
        display: flex;
        justify-content: center;
        align-items: center;

        &:active {
            width: 20px;
            border-radius: 1000px;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: lightgray;
        
        & svg {
            stroke-width: 1px;;
        }
    }

    &.checked {
        background: $color-teal-6;

        & .Switch__slider {
        }

        &:hover {
            box-shadow: 0 0 0 2px $color-teal-3;
        }
    }

    &.checked &__icon {
        color: $color-teal-6;
    }

    &.checked &__slider {
        left: 22px;

        &:active {
            left: 18px;
            border-radius: 1000px;
        }
    }

    &:hover &__slider{
        box-shadow: 0 4px 6px 0 rgba($color-black, .1);
    }
}