.LanguageSwitcher {
    display: flex;
    justify-content: center;
    padding: 16px;
    // margin: 8px;
    font-size: 24px;
    color: $color-neutral-5;
    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba($color-black, 0.05);

    &__languageType {
        color: $color-neutral-5;
        font-size: 12px;
        display: inline-block;
        margin-bottom: 2px;
    }

    & > * {
        margin: 10px;
    }

    & span {
        display: flex;
    }

    .target {
        display: flex;
        align-items: center;
    }

    &__sourceLanguage {
        cursor: pointer;
        transition: all 0.2s;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__targetLanguage {
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: column;

        & select {
            display: none;
        }

        & option {
            font-size: 12px;
        }
    }

    &__select {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4px;
        font-size: 12px;
        padding: 4px;
        border-radius: 50%;
        transition: all 0.2s;

        &:hover {
            background-color: $color-neutral-4;
        }

        & svg {
            stroke-width: 2px;
        }
    }

    &.source {
        .LanguageSwitcher__sourceLanguage {
            color: $color-teal-6;
        }
    }

    &.target {
        .LanguageSwitcher__targetLanguage {
            color: $color-teal-6;
        }

        .LanguageSwitcher__select {
            color: $color-neutral-7;
        }
    }
}
