
@keyframes shadowSpread {
    0% {
      box-shadow: 0 0 0 1px rgba($color-teal-6, 0);
    }
    50% {
      box-shadow: 0 0 0 3px rgba($color-teal-6, 0.25);
    }
    100% {
      box-shadow: 0 0 0 1px rgba($color-teal-6, 0);
    }
  }
  