
@keyframes shadowSpread {
    0% {
      box-shadow: 0 0 0 1px rgba(var(--color-teal-6-rgb), 0);
    }
    50% {
      box-shadow: 0 0 0 3px rgba(var(--color-teal-6-rgb), 0.25);
    }
    100% {
      box-shadow: 0 0 0 1px rgba(var(--color-teal-6-rgb), 0);
    }
  }
  