$color-white: #fff;
$color-black: #000;
$color-teal-1: #f0fffb;
$color-teal-2: #defff8;
$color-teal-3: #b3fcef;
$color-teal-4: #84f0e0;
$color-teal-5: #59e3d3;
$color-teal-6: #30d5c8;
$color-teal-7: #20b0a9;
$color-teal-8: #128a88;
$color-teal-9: #086263;
$color-teal-10: #043a3d;


$color-red-1: #ffe6e7;
$color-red-6: #ff033e;

$color-green-6: #50c878;
$color-green-1: #f0fff2;

$color-orange-6: #ffa500;
$color-orange-1: #fffae6;

$color-neutral-13: #000000;
$color-neutral-12: #1a1a1a;
$color-neutral-11: #262626;
$color-neutral-10: #3B3B3B;
$color-neutral-9: #525252;
$color-neutral-8: #6B6B6B;
$color-neutral-7: #999999;
$color-neutral-6: #c7c7c7;
$color-neutral-5: #dedede;
$color-neutral-4: #f0f0f0;
$color-neutral-3: #f5f5f5;
$color-neutral-2: #fafafa;
$color-neutral-1: #ffffff;