/* purgecss start ignore */

.img-icon-close-white {
  background-image: url(./img/icon-close-white.svg);
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center;
}
/* purgecss end ignore */
