.Demo {
  display: flex;

  & .Text {
    flex: 1;
    border: 1px solid var(--color-neutral-5);
    margin-left: 120px;
    padding: 40px 40px;
    border-radius: 2px;
  }
}

.BergamotApp {
  width: 100%;
  background-color: var(--color-neutral-2);
  position: relative;
  color: var(--color-neutral-11);
  font-size: 14px;
  border-radius: 0;
  box-shadow: 0 8px 20px rgba(var(--color-black-rgb), 0.1);
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  & input {
    border: none;
    outline: none;
    background-color: var(--color-neutral-2);
    border-bottom: 1px solid var(--color-neutral-5);

    &:hover,
    &:focus {
      border: none;
      border-bottom: 1px solid var(--color-neutral-5);
      box-shadow: none;
    }
  }

  &__languageSwitcher {
    position: relative;
    background: var(--color-neutral-2);
    padding: 16px;
  }

  &__footer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    color: var(--color-neutral-7);
    border-top: 1px solid var(--color-neutral-5);

    a {
      text-decoration: none;
    }
  }
}

.item-enter {
  opacity: 0;
  transform: translateX(-100px);
}
.item-enter-active {
  opacity: 1;
  transition: all 500ms ease-in;
  transform: translateX(0px);
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: all 500ms ease-in;
}

.Home {
  height: 100%;
  display: inline-block;
}

.Translate {
  height: 100%;
  display: inline-block;
  flex-direction: column;
  position: relative;

  &__body {
    height: 100%;
    padding: 16px;
  }

  &__title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
  }

  &__originText {
    margin-bottom: 16px;
    height: 50%;

    & textarea {
      height: 50%;
      resize: none;
    }
  }

  &__targetText {
    height: 50%;

    & textarea {
      height: 50%;
      resize: none;
    }
  }
}
